<launch>

  <arg name="bag_path" default="/home/marcelino/Downloads/bags/uwb_mocap"/>

  <arg name="bag_name" default="new_location_3d_no_los"/>
  <arg name="bag_time" default="0"/>

  <node pkg="mocap_vislam_sync" type="mocap_vislam_sync" name="mocap_vislam_sync" output="screen" required = "true">
        <param name="in_mocap_topic"  value="/optitrack/PozyxTag/pose"/>
        <param name="in_vislam_topic" value="/pozyx/pose_0x6a56"/>

        <param name="sync_at_start"  value="true"/>

        <param name="output_path" value="$(find mocap_vislam_sync)/outputs/$(arg bag_name)/"/>
        
  </node>

  <node name="playbag" pkg="rosbag" type="play"
      args="$(arg bag_path)/$(arg bag_name).bag -s $(arg bag_time) -r 2 -d 1" />

</launch>